body {
	font-family: arial-black;
	fill: #6e6e6e;
}

svg {
	width:600;
	height:500;
	margin:auto;
	display:block;
}

button {
	margin-left: 25px;
	height: 30px;
	font-family: arial-black;
	fill: #6e6e6e;
}

.xAxisLabel,
.yAxisLabel {
	font-size: 0.9em;
	text-anchor: end;

}
