body {
	font-family: arial-black;
	fill: #6e6e6e;
}

svg {
	width:800;
	height:600;
	margin:auto;
	display:block;
}

#textbox {
	float:left;
	width: 400;
	margin: auto;
	display:block;
	background-color: #E8E8E8;
	margin-top: 30;
	height: 600;
}

button {
	margin-left: 25px;
	height: 30px;
	font-family: arial-black;
	fill: #6e6e6e;
}

.xAxisLabel,
.yAxisLabel {
	font-size: 0.9em;
	text-anchor: end;

}
