body {
	margin:0;
	padding-top:5vh;
	font-family: arial-black;
	fill: #6e6e6e;
}

svg {
	width:700;
	height:500;
	margin:auto;
	display:block;
}

#textbox {
	padding:20;
	float:left;
	width: 360;
	margin: auto;
	display:block;
	background-color: #E8E8E8;
	margin-top: 30;
	height: 590px;
}

button {
	margin-left: 25px;
	height: 30px;
	font-family: arial-black;
	fill: #6e6e6e;
}

.xAxisLabel,
.yAxisLabel {
	font-size: 0.9em;
	text-anchor: end;

}
